# Chặn các thư mục database nặng
mysql-data/
postgres-db/
mongo-data/

# Chặn thư mục chứa model AI (Thủ phạm gây lỗi 100MB)
**/models/
**/blobs/

# Chặn các file rác và logs
**/__pycache__/
*.log
logs/

# Chặn file dữ liệu (csv, json...) nhưng vẫn giữ code .py
*.csv
*.json
*.jsonl
*.bin
*.safetensors
*.zip

# GIỮ LẠI FILE CODE
!*.py
!*.yaml
!Dockerfile
!requirements.txt